body {margin:0; border:0; padding:0;}
td {font-family:Verdana, Arial, Geneva, sans-serif; font-size:12px;}
a {font-family:Verdana, Arial, Geneva, sans-serif; color:#336699;}

.topNavbarLink {font-family:Verdana, Arial, Geneva, sans-serif; font-size:11px; color:#ffffff; text-decoration:none;}
.menuNavbarLink {font-family:Verdana, Arial, Geneva, sans-serif; color:#ffffff; text-decoration:none;}
.bottomNavbarLink {font-family:Verdana, Arial, Geneva, sans-serif; font-size:11px; color:#ffffff; text-decoration:none;}

.sbText {FONT-WEIGHT:normal; FONT-SIZE:10px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbText11 {FONT-WEIGHT:normal; FONT-SIZE:11px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbText12 {FONT-WEIGHT:normal; FONT-SIZE:12px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbTextHead {FONT-WEIGHT:bold; FONT-SIZE:14px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbTextGen {FONT-WEIGHT:bold; FONT-SIZE:10px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}
.sbTextNav {FONT-WEIGHT:bold; FONT-SIZE:12px; FONT-STYLE:italic; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}
.sbTextList {FONT-WEIGHT:bold; FONT-SIZE:12px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}
.sbLabel {FONT-WEIGHT:bold; FONT-SIZE:10px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbLabel11 {FONT-WEIGHT:bold; FONT-SIZE:11px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbLabel12 {FONT-WEIGHT:bold; FONT-SIZE:12px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#ffffff;}
.sbLinkHead {FONT-WEIGHT:bold; FONT-SIZE:14px; COLOR:#ffffff; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif;}
.sbLinkGen {FONT-WEIGHT:bold; FONT-SIZE:10px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}
.sbLinkNav {FONT-WEIGHT:bold; FONT-SIZE:14px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}
.sbLinkList {FONT-WEIGHT:bold; FONT-SIZE:12px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}
.sbLinkMailto {FONT-WEIGHT:normal; FONT-SIZE:10px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#99ccff;}

.heading10 {FONT-WEIGHT:bold; FONT-SIZE:10px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}
.heading12 {FONT-WEIGHT:bold; FONT-SIZE:12px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}
.heading14 {FONT-WEIGHT:bold; FONT-SIZE:14px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}
.heading16 {FONT-WEIGHT:bold; FONT-SIZE:16px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}
.heading18 {FONT-WEIGHT:bold; FONT-SIZE:18px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}
.heading20 {FONT-WEIGHT:bold; FONT-SIZE:20px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}
.heading24 {FONT-WEIGHT:bold; FONT-SIZE:24px; FONT-FAMILY:Verdana, Arial, Geneva, Sans-Serif; COLOR:#2d2a62;}